.img-footer {
    max-width: 480px;
    height: 463px;
    padding: 40px 20px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #111518;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width:767px) {
        background-image:linear-gradient((rgba(17, 21, 24, 0.7)),rgba(17, 21, 24, 0.7)),
        url("../images/footer-img/footer-mobile.jpg");    
    }
}
.orange-text{
    color: #FF6B09;
}
.title-img {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;

    margin-bottom: 24px;
}
.text-footer {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;

}
.form-footer{
    margin-top: 40px;
}

.input-footer {
    width: 100%;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 28px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: inherit;
    margin-bottom: 20px;

    &::placeholder {
        color: #FFFFFF;
        background: inherit;
    }

    &:invalid:not(:placeholder-shown) {
     border:1px solid rgba(223, 8, 8);
    }
    &:valid:not(:placeholder-shown) {
     border:1px solid rgba(255, 107, 9, 1);
     ;
    }
}
.form-btn{
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    background: #FF6B09;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}

/* .footer {
} */
.footer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;

}

.logo-footer{
    width: 80px;
    margin-bottom: 20px;
}
.img-instagram{
    width: 40px;
}
.number-footer{
    display: flex;
    align-items: center;
    height: 17px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.08em;
    margin-bottom: 20px;

    color: #111518;
}
.svg-footer{
    margin-right: 8px;
}
.last-footer{
    width: 100%;
    height: 80px;
    background: #111518;
}
.last-footer{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #B9B9B9;
}  