.img-footer {
    max-width: 480px;
    height: 463px;
    padding: 40px 20px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #111518;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width:767px) {
        background-image:linear-gradient((rgba(17, 21, 24, 0.7)),rgba(17, 21, 24, 0.7)),
        url("../images/footer-img/footer-mobile.jpg"); 

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image:linear-gradient((rgba(17, 21, 24, 0.7)),rgba(17, 21, 24, 0.7)),
        url("../images/footer-img/footer-mobile@2x.jpg"); 
        }  
    }

    @media screen and (min-width:768px) {
        max-width: 768px;
        height: 459px;
        padding: 40px;
        background-image:linear-gradient((rgba(17, 21, 24, 0.7)),rgba(17, 21, 24, 0.7)),
        url("../images/footer-img/footer-tablet.jpg"); 

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image:linear-gradient((rgba(17, 21, 24, 0.7)),rgba(17, 21, 24, 0.7)),
        url("../images/footer-img/footer-tablet@2x.jpg");   
        }
    }
    @media screen and (min-width:1680px) {
        max-width: 1680px;
        height: 794px;
        padding: 80px 295px;
        background-image:linear-gradient((rgba(17, 21, 24, 0.7)),rgba(17, 21, 24, 0.7)),
        url("../images/footer-img/footer-desktop.jpg"); 

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image:linear-gradient((rgba(17, 21, 24, 0.7)),rgba(17, 21, 24, 0.7)),
        url("../images/footer-img/footer-desktop@2x.jpg");
         }
    }
}
.orang-text{
    color: #FF6B09;
}
.title-img {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-bottom: 24px;

    @media screen and (min-width:768px) {
    font-size: 26px;
    margin-bottom: 40px;  
    }
    @media screen and (min-width:1680px){
    font-size: 46px;
    }
}

.text-footer {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.08em;

    @media screen and (min-width:768px) {
    font-size: 14px;   
    }
    @media screen and (min-width:1680px){
    font-size: 30px;
    }

}
.form-footer{
    margin-top: 40px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        
    }
}

.input-footer {
    width: 100%;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    padding-left: 28px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: inherit;
    margin-bottom: 20px;

    &::placeholder {
        color: #FFFFFF;
        background: inherit;
    }

    &:invalid:not(:placeholder-shown) {
     border:1px solid rgba(223, 8, 8);
    }
    &:valid:not(:placeholder-shown) {
     border:1px solid rgba(255, 107, 9, 1);
     ;
    }

    @media screen and (min-width:768px) {
        max-width: 336px;   
        padding-left: 24px;
    }
    @media screen and (min-width:1680px){
        max-width: 528px;
        height: 70px;
        font-size: 20px;
    }
}
.label-footer{
    max-width: 528px;
    max-height: 70px;
}
.form-btn{
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    background: #FF6B09;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;

    @media screen and (min-width:768px) {
        max-width: 336px;  
        margin-top: 12px; 
    }
    @media screen and (min-width:1680px){
        max-width: 528px;
        height: 70px;
        font-size: 14px;
        letter-spacing: 0.14em;
    }
}

/* .footer {
} */
.footer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 40px 60px;

    @media screen and (min-width:768px) {
        flex-direction: row;
        padding: 40px 32px;
        max-width: 768px;   
    }
    @media screen and (min-width:1680px){
        max-width: 1680px;
        padding: 80px 15px;
    }

}

.logo-footer{
    @media screen and (max-width:767px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width:768px) {
        margin-right: auto;
    }
}
.img-instagram{
    width: 40px;
    @media screen and (min-width:1680px){
        margin-right: 596px;
    }
}
.number-footer{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;

    color: #111518;

    @media screen and (min-width:320px) {
        letter-spacing: 0.08em;
        font-size: 14px;  
    }

    @media screen and (max-width:767px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width:768px) {
        font-size: 20px;
        line-height: 1.2;
        border-right: 1px solid #B9B9B9;
        height: 40px; 
        margin-right: 24px; 
        padding-right: 24px;

        }
    @media screen and (min-width:1680px){
        font-size: 30px;
        padding-right: 16px;

    }
}

.svg-footer{
    margin-right: 8px;

    @media screen and (min-width:768px){
        width: 24px;
        height: 23px;
    }
    @media screen and (min-width:1680px){
        width: 30px;
        height: 28px;
    }
}

.last-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: #111518;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: #B9B9B9;

    @media screen and (min-width:768px){
        max-width: 768px;
    }
    @media screen and (min-width:1680px){
        max-width: 1680px;
    }
}  