.section__title {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 130%;
   letter-spacing: 0.03em;
   color: $primary-color;
   @media screen and (min-width: 768px) {
      font-size: 26px;
   }
   @media screen and (min-width: 1680px) {
      font-size: 46px;
   }
}
.section {
   padding-top: 80px;
   padding-bottom: 80px;
   //  width: 100%;
}

.container {
   margin: 0 auto;
   padding: 0 15px;
   @media screen and (min-width: 480px) {
      width: 480px;
   }
   @media screen and (min-width: 768px) {
      width: 738px;
   }
   @media screen and (min-width: 1680px) {
      width: 1680px;
   }
}
