// body {
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 400;
//   font-family: 'Roboto', sans-serif;
//   color: $primary-color;
//   letter-spacing: 0.03em;
// }
// button {
//   cursor: pointer;
// }
// .section {
//   @media screen and (max-width: 1199px) {
//     padding: 60px 0;
//   }
//   @media screen and (min-width: 1200px) {
//     padding: 94px 0;
//   }
// }

// .container {
//   margin: 0 auto;
//   @media screen and (min-width: 480px) {
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 738px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//   }
// }
// .section-title {
//   font-weight: bold;
//   font-size: 36px;
//   line-height: calc(42 / 36);
//   text-align: center;
//   letter-spacing: 0.03em;
//   margin-bottom: 50px;
// }
