/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

@import './base/mixin';
@import './base/reset';
@import './base/visually-hidden';
@import './base/variables';
@import './base/footer';
@import './base/general';
@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/problems';
@import './layout/how-we-do';
@import './layout/program';
@import './layout/benefits';
@import './layout/about';
@import './layout/guarantee';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';
@import './base/mixin';
@import './layout/modal';
