<div class="about container">
  <h2 class="about__title">Teacher</h2>
  <picture> </picture>
  <div>
    <ul>
      <li>
        <p>6 yeards of experience in preparing students for UPE</p>
      </li>
      <li>
        <p>Own result of passing VNO - 197 points 2 years in a row</p>
      </li>
      <li>
        <p>
          Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)
        </p>
      </li>
    </ul>
    <p>
      Teacher Elena Morozova 6 yeards of experience in preparing students for UPE Own result of
      passing VNO - 197 points 2 years in a row Passed excellent at the international analogue of
      UPE - Cambridge PET (Preliminary English Test) — Graduated from the Institute of International
      Relations of the NAU with a degree in translator-analyst. In spare time takes courses from the
      best universities in the world on effective teaching and essay writing techniques.Completed:
      English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of
      Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The
      Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of
      Houston). Cambrige English Entry Level Certificate
    </p>
    <link />Cambrige English Entry Level Certificate
  </div>
</div>
