<section class="section__about ">
      <h2 class="section__about__title container">Teacher</h2>
   <div class="about container">
      <div class="about__photo">
         <picture>
            <source
               srcset="
                  ./images/about/morozova-picture_528_desktop.webp 1x,
                  ./images/about/morozova-picture_528_desktop@2x.webp 2x"
               type="image/webp"
               media="(min-width: 768px)"
            />
            <source
               srcset="
                  ./images/about/morozova-picture_528_desktop.jpg 1x,
                  ./images/about/morozova-picture_528_desktop@2x.jpg 2x"
               media="(min-width: 768px)"
            />
            <source
               srcset="
                  ./images/about/morozova-picture_243_mobile.webp 1x,
                  ./images/about/morozova-picture_243_mobile@2x.webp 2x
               "
               type="image/webp"
               media="(max-width: 767px)"
            />
            <source
               srcset="
                  ./images/about/morozova-picture_243_mobile.jpg 1x,
                  ./images/about/morozova-picture_243_mobile@2x.jpg 2x"
                    media="(max-width: 767px)"
            />
            <img
               class="morozova-photo"
               src="./images/about/morozova-picture_243_mobile.jpg"
               alt="morozova-picture"
            />
         </picture>
      </div>
      <div class="about__content">
         <h2 class="about__content__name">Elena Morozova</h2>
         <ul class="about__content__experience">
            <li class="about__content__icon-check">
               <p >6 years of experience in preparing students for UPE</p>
            </li>
            <li class="about__content__icon-check">
               <p>Own result of passing VNO - 197 points 2 years in a row</p>
            </li >
            <li class="about__content__icon-check">
               <p >
                  Passed excellent at the international analogue of UPE -
                  Cambridge PET (Preliminary English Test)
               </p>
            </li>
         </ul>
         <p class="about__content__stripe">—</p>
         <ul class="about__content__text">
            <li>
               <p class="about__content__education">
                  Graduated from the Institute of International Relations of the
                  NAU with a degree in translator-analyst.
               </p>
            <li>
               <p class="about__content__education">
                  In spare time takes courses from the best universities in the
                  world on effective teaching and essay writing techniques.
               </p>
            </li>
            <li>
               <p class="about__content__education">
                  Completed: English Grammar and Essay Writing (Berkeley), English
                  Grammar & Style (The University of Queesland), How to Write an
                  Essay (Berkeley), Academic and Business Writing (Berkeley), The
                  Art of Teaching (GEMS education), Powerful Tools for Teaching and
                  Learning (University of Houston). Cambrige English Entry Level
                  Certificate
               </p>
            </li>
         <ul>
         <a
            class="about__content__link"
            href="https://ichef.bbci.co.uk/news/800/cpsprodpb/1012D/production/_123073856_pjimage-5.jpg.webp"
            target="_blank"
            >Cambrige English Entry Level Certificate</a
         >
      </div>
   </div>
</section>
