<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/main.css">
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="section">
        <h2 hidden>benefits</h2>
        <div class="container container__list-of-benefits">
            <ul class="list-of-benefits">
                <li class="list-of-benefits__item">
                    <p class="list-of-benefits__number">— 01</p>
                    <p class="list-of-benefits__text">Training in small groups</p> 
                </li>
                <li class="list-of-benefits__item">
                    <p class="list-of-benefits__number">— 02</p>
                    <p class="list-of-benefits__text">Rendered notes</p>
                </li>
                <li class="list-of-benefits__item">
                    <p class="list-of-benefits__number">— 03</p>
                    <p class="list-of-benefits__text">Each lesson has a goal and a specific result</p>
                </li>
                <li class="list-of-benefits__item">
                    <p class="list-of-benefits__number">— 04</p>
                    <p class="list-of-benefits__text">The real results of the teacher</p>
                </li>
                <li class="list-of-benefits__item">
                    <p class="list-of-benefits__number">— 05</p>
                    <p class="list-of-benefits__text">The course program meets the requirements of the MES of Ukraine</p>
                </li>
                <li class="list-of-benefits__item">
                    <p class="list-of-benefits__number">— 06</p>
                    <p class="list-of-benefits__text">Set of groups by level of knowledge</p>
                </li>
            </ul>
        </div>
    </section> 
</body>
</html>
