<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с разметкой определённой
        части главной страницы. Это очень удобно при командной разработке на студенческих проектах,
        когда в одном HTML-файле пишет несколько человек сразу.
    </p>
    
</body>
</html>