<footer class="footer">
   <div class="container">
      <div class="footer-box">
         <div class="logo-footer">
            <a class="button-logo" href="#">
               <svg class="logo">
                  <use href="./images/sprite.svg#icon-logo"></use>
               </svg>
            </a>
         </div>
         <a class="number-footer" href="tel:+380000000000">
            <svg class="svg-footer" width="20" height="19">
               <use href="./images/footer-img/symbol-defs.svg#icon-phone"></use>
            </svg>
            +38 (000) 000 00 00</a
         >
         <div class="img-instagram">
            <a class="svg-insta" href="" target="_blank"></a>
         </div>
      </div>
   </div>
   <div class="last-footer">
      <p>&commat; All rights reserved, 2019</p>
   </div>
</footer>
