<section class="img-footer">
    <h2 class="title-img">Registration for a <span class="orange-text">free</span> phone 
        <span class="orange-text">consultation</span> on the nuances of English UPE</h2>
    <p class="text-footer">Leave a request for participation in a <span class="orange-text">free lesson</span>.<br>
        A consultant will contact you and answer your questions
    </p>
    <form class="form-footer">
        <input class="input-footer" 
        type="text" 
        name="usernam" 
        placeholder="Name*" 
        minlength="2"
        required pattern="^[a-zA-Zа-яА-Я]+\s[a-zA-Zа-яА-Я]+$"
        title="Elon Musk">

        <input class="input-footer"
        type="tel"
        name="number"
        placeholder="Phone*"
        required pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="093-xxx-xx-xx">
        <button class="form-btn" type="submit">I want a free lesson</button>
    </form>
</section>
<footer class="footer">
  <div class="footer-box">
    <div class="logo-footer">
       <img src="./images/footer-img/logo-footer.jpg" alt="logo">
    </div>
    <a class="number-footer" href="tel:+380000000000"> 
      <svg class="svg-footer" width="20" height="19">
        <use href="./images/footer-img/symbol-defs.svg#icon-phone"></use>
      </svg>
      +38 (000) 000 00 00</a>
    <div class="img-instagram">
       <img src="./images/footer-img/instagram.jpg" alt="insta">
     </div>
  </div>
  <div class="last-footer">
    <p>&commat; All rights reserved, 2019</p>
  </div>


</footer>