<header>
   <div class="container">
      <div class="header__top">
         <a class="button--logo" href="#">
            <img
               class="logo"
               src="./images/logo.svg"
               alt="logo"
               width="80"
               height="29"
            />
         </a>

         <button data-menu-open type="button" class="button--menu">
            <svg
               aria-label="Переключатель мобильного меню"
               width="40"
               height="40"
            >
               <use href="./images/sprite.svg#icon-menu-burger"></use>
            </svg>
         </button>
      </div>
      <div data-menu class="menu--container is-hidden">
         <div class="header__top header__top--mobile">
            <a class="" href="#">
               <img
                  class="logo"
                  src="./images/white-logo.svg"
                  alt="logo"
                  width="80"
                  height="29"
               />
            </a>
            <button data-menu-close type="button" class="button--close">
               <svg
                  class="icon--close"
                  aria-label="Переключатель мобильного меню"
                  width="40"
                  height="40"
               >
                  <use
                     class="icon--close"
                     href="./images/sprite.svg#icon-close-button"
                  ></use>
               </svg>
            </button>
         </div>

         <nav class="nav">
            <ul class="nav__list">
               <li class="nav__item">
                  <a class="nav__link" href="">Studying program</a>
               </li>
               <li class="nav__item"><a class="nav__link" href="">About</a></li>
               <li class="nav__item">
                  <a class="nav__link" href="">Training options</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="">Contacts</a>
               </li>
            </ul>
         </nav>

         <button class="header--button" type="button">
            Consultation by phone
         </button>
      </div>
   </div>
</header>
