<section class="">
  <div class="container hero">
    <div class="hero__content">
      <h1 class="hero__name">Complex preparation for English UPE</h1>
      <p class="hero__motivation">
        It won’t be easy. <br /><span class="hero__guaranteed"> But you’re guaranteed to get</span>
        <br /><span class="hero__guaranteed--sp">+25 points</span>
      </p>
      <div class="hero__button">
        <a href="#formFreeLesson" class="hero__form">I want a free lesson</a>
      </div>
    </div>
    <div class="hero__image"></div>
    <ul class="hero__benefits">
      <li class="hero__benefit">
        <div class="hero__benefit--image1"></div>
        <div class="hero__benefit-box">
          <p class="hero__benefit--name">Adapted author's UPE program</p>
        </div>
      </li>
      <li class="hero__benefit">
        <div class="hero__benefit--image2"></div>
        <div class="hero__benefit-box">
          <p class="hero__benefit--name">Modern teaching methods</p>
        </div>
      </li>
      <li class="hero__benefit">
        <div class="hero__benefit--image3"></div>
        <div class="hero__benefit-box">
          <p class="hero__benefit--name">Financial guarantee the result</p>
        </div>
      </li>
    </ul>
  </div>
</section>
