<section class="section section-problems">
   <div class="container container-problems">
      <h2 class="section__title">
         The main problems of students<br />
         in English UPE, which <br />we
         <span class="section__title-accent">help</span> to solve
      </h2>
      <svg class="section-problems__icon" width="455" height="472">
         <use href="./images/sprite.svg#icon-fire"></use>
      </svg>
   </div>
</section>
<section>
   <div class="grid">
      <div class="">Grammar</div>
      <div>Inability to understand spoken English</div>
      <div>Stingy vocabulary for writing an essay</div>
      <div>Preparing alone</div>
      <div>Lack of a single knowledge resource</div>
      <div>Lack of self-organization and laziness</div>
   </div>
</section>
