<section class="section section-problems-dark">
   <div class="container container-problems">
      <h2 class="section-problems-dark__title">
         The main problems of students<br />
         in English UPE, which <br />we
         <span class="section-problems-dark__title-accent">help</span> to solve
      </h2>
      <svg class="section-problems-dark__icon" width="455" height="472">
         <use href="./images/sprite.svg#icon-fire"></use>
      </svg>
   </div>
</section>
<section class="section section-problems-item">
   <div class="section-problems-title">
      <h2 class="visually-hidden">problems</h2>
      <ul class="grid">
         <li class="section-problems-list">
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />
               Grammar
            </p>
         </li>
         <li class="section-problems-list">
            <p class="section-problems-name">
               <span class="section-problems-number">&mdash;</span>
               <br />
               Inability to understand spoken English
            </p>
         </li>
         <li class="section-problems-list">
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />Stingy vocabulary for writing an essay
            </p>
         </li>
         <li class="section-problems-list">
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />Preparing alone
            </p>
         </li>
         <li class="section-problems-list">
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />Lack of a single knowledge resource
            </p>
         </li>
         <li class="section-problems-list">
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />Lack of self-organization and laziness
            </p>
         </li>
      </ul>
   </div>
</section>
