<section class="section section_theme_dark" id="program">
   <div class="container program-container">

      <h2 class="section__title section__title_theme_dark">Our program</h2>
      <ul class="semester-list">
         <li class="semester-list__item">
            <p class="semester-list__name">1 semester</p>
            <ul class="program-list">
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Grammar</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">Nouns & Articles</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Adjectives & Adverb</p>
                     </li>
                  </ul>
               </li>
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Vocabulary</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">Family & Relations</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">People & Society</p>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="semester-list__item">
            <p class="semester-list__name">2 semester</p>
            <ul class="program-list">
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Grammar</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">Pronouns</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Active Voice</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Passive Voice</p>
                     </li>
                  </ul>
               </li>
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Vocabulary</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">Home</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">School</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Work</p>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="semester-list__item">
            <p class="semester-list__name">3 semester</p>
            <ul class="program-list">
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Grammar</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">Modal verbs</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Infinitive</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Gerund</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Participle: 1, 2</p>
                     </li>
                  </ul>
               </li>
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Vocabulary</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">Travel & Tourism</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Culture & Free Time</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Sport</p>
                     </li>
                  </ul>
               </li>
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Writing</h3>
                  <p class="theme-list-text">Informal Letter</p>
               </li>
            </ul>
         </li>
         <li class="semester-list__item">
            <p class="semester-list__name">4 semester</p>
            <ul class="program-list">
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Grammar</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">
                           Clauses: Conditional and Wishes
                        </p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Direct / Reported speech</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Preposition</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Conjunction</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Numeral</p>
                     </li>
                  </ul>
               </li>
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Vocabulary</h3>
                  <ul class="theme-list">
                     <li class="theme-list__item">
                        <p class="theme-list__name">Healthy Living</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Nature & Environment</p>
                     </li>
                     <li class="theme-list__item">
                        <p class="theme-list__name">Money</p>
                     </li>
                  </ul>
               </li>
               <li class="program-list__item">
                  <h3 class="program-list__name">&ensp;Writing</h3>
                  <p class="theme-list-text">Formal Letter</p>
               </li>
            </ul>
         </li>
         <li class="semester-list__item">
            <p class="semester-list__name">5 semester</p>
            <span class="program-list-span"></span>
            <ul class="theme-list">
               <li class="theme-list__item">
                  <p class="theme-list__name">Revision</p>
               </li>
               <li class="theme-list__item">
                  <p class="theme-list__name">Tests</p>
               </li>
            </ul>
         </li>
      </ul>
   </div>
</section>

<section class="section section-program-item">
   <div class="section-program-title">
      <h2 class="visually-hidden"> program </h2>
      <ul class="grid">
         <li class="section-program-list">
               <span class="section-program-number">&mdash;</span>
               <br />Training in small groups</p>
         </li>
         <li class="section-program-list">
           
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />Rendered notes</p>
         </li>
         <li class="section-program-list">
            
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />Each lesson has a goal and a specific result</p>
         </li>
         <li class="section-program-list">
            
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />The real results of the teacher</p>
         </li>
         <li class="section-program-list">
           
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />
               The course program meets the requirements of the MES of Ukraine
            </p>
         </li>
         <li class="section-program-list">
            
            <p>
               <span class="section-problems-number">&mdash;</span>
               <br />Set of groups by level of knowledge</p>
         </li>
      </ul>
   </div>
</section>
