<section class="section section-program__item">
   <div class="section-program__title">
      <ul class="grid">
         <li class="section-program__list">
            <h3 class="section-program__number section-problems__counter">
               &mdash;
            </h3>
            <p class="">Training in small groups</p>
         </li>
         <li class="section-program__list">
            <h3 class="section-program__number">&mdash;</h3>
            <p>Rendered notes</p>
         </li>
         <li class="section-program__list">
            <h3 class="section-program__number">&mdash;</h3>
            <p>Each lesson has a goal and a specific result</p>
         </li>
         <li class="section-program__list">
            <h3 class="section-program__number">&mdash;</h3>
            <p>The real results of the teacher</p>
         </li>
         <li class="section-program_list">
            <h3 class="section-program__number">&mdash;</h3>
            <p>
               The course program meets the requirements of the MES of Ukraine
            </p>
         </li>
         <li class="section-program__list">
            <h3 class="section-program__number">&mdash;</h3>
            <p>Set of groups by level of knowledge</p>
         </li>
      </ul>
   </div>
</section>
