// // .team-item__photo {
// //   width: 100%;
// // }

.section__about {
   padding: 40px 0;
   margin: 0 auto;
   margin-top: -310px;
   @media screen and (min-width: 768px) {
      margin-top: -115px;
   }
   @media screen and (min-width: 1680px) {
      padding: 80px 0;
      margin-top: -200px;
   }
}

.section__about__title {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 130%;
   letter-spacing: 0.03em;
   color: $primary-color;
   margin-bottom: 20px;
   @media screen and (min-width: 768px) {
      font-size: 26px;
      margin-bottom: 40px;
   }
   @media screen and (min-width: 1680px) {
      font-size: 46px;
      margin-bottom: 80px;
   }
}

.about {
   @media screen and (min-width: 768px) {
      display: flex;
   }
}

.about__photo {
   max-width: 243px;
   @media screen and (min-width: 768px) {
      margin-right: 60px;
   }
   @media screen and (min-width: 1680px) {
      max-width: 528px;
      margin-right: 173px;
   }
}
.about__content__block {
   border-bottom: 1px solid $secondary-color;
   margin-bottom: 20px;
   @media screen and (min-width: 1680px) {
      margin-bottom: 32px;
   }
}

.about__content {
   @media screen and (min-width: 1680px) {
      max-width: 667px;
   }
}

.about__content__block__name {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 1.3;
   letter-spacing: 0.03em;
   color: $primary-color;
   padding-top: 20px;
   padding-bottom: 8px;
   @media screen and (min-width: 768px) {
      padding-top: 0px;
   }
   @media screen and (min-width: 1680px) {
      font-size: 30px;
      padding-bottom: 16px;
   }
}

.about__content__experience {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 1.21;
   letter-spacing: 0.06em;
   color: $primary-color;
   padding-left: 27px;
   @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.25;
   }
   @media screen and (min-width: 1680px) {
      font-size: 16px;
      padding-left: 60px;
   }
}

.about__content__experience {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 1.21;
   letter-spacing: 0.06em;
   color: $primary-color;
   padding-left: 27px;
   @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.25;
   }
   @media screen and (min-width: 1680px) {
      font-size: 16px;
      padding-left: 60px;
   }
}

.about__content__stripe {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.65;
   color: $accent-color;
   margin-top: 20px;
   margin-bottom: 8px;
   @media screen and (min-width: 768px) {
      margin-top: 4px;
      margin-bottom: 4px;
   }
   @media screen and (min-width: 1680px) {
      margin-top: 15px;
      margin-bottom: 12px;
   }
}

.about__content__text {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 1.67;
   color: $secondary-color;
   margin-bottom: 8px;
   @media screen and (min-width: 768px) {
      margin-bottom: 24px;
      font-size: 10px;
      line-height: 2;
   }
   @media screen and (min-width: 1680px) {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.56;
   }

   .about__content__education {
      @media screen and (min-width: 1680px) {
         padding-bottom: 19px;
      }
   }
}

.about__content__icon-check {
   padding-bottom: 14px;
   &::before {
      position: absolute;
      content: url(../images/about/check.svg);
      margin-left: -26px;
   }

   &:last-child {
      @media screen and (max-width: 767px) {
         padding-bottom: 0px;
      }
   }

   @media screen and (min-width: 768px) {
      padding-bottom: 30px;
   }
   @media screen and (min-width: 1680px) {
      padding-bottom: 28px;
      &::before {
         position: absolute;
         content: url(../images/about/check-desk.svg);
         margin-left: -60px;
      }
   }
}

.about__content__link {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 1.67;
   color: $accent-color;
   text-decoration: underline;
   @media screen and (min-width: 1680px) {
      font-size: 18px;
      line-height: 1.56;
   }
}
