.logo-footer {
    @media screen and (max-width: 767px) {
       margin-bottom: 20px;
       width: 80px;
       height: 29px;
    }
    @media screen and (min-width: 768px) {
       margin-right: auto;
       width: 128px;
       height: 45px;
    }
 }
 .img-instagram {
    @media screen and (min-width: 1680px) {
       margin-right: 596px;
    }
 }
 .svg-insta {
    background-image: url('../images/footer-img/instagram.svg');
    background-size: cover;
    height: 40px;
    display: block;
    width: 40px;
 }
 .number-footer {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;
 
    color: #111518;
 
    @media screen and (min-width: 320px) {
       letter-spacing: 0.08em;
       font-size: 14px;
    }
 
    @media screen and (max-width: 767px) {
       margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
       font-size: 20px;
       line-height: 1.2;
       border-right: 1px solid #b9b9b9;
       height: 40px;
       margin-right: 24px;
       padding-right: 24px;
    }
    @media screen and (min-width: 1680px) {
       font-size: 30px;
       padding-right: 16px;
    }
 }
 
 .svg-footer {
    margin-right: 8px;
 
    @media screen and (min-width: 768px) {
       width: 24px;
       height: 23px;
    }
    @media screen and (min-width: 1680px) {
       width: 30px;
       height: 28px;
    }
 }
 
 .last-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: #111518;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: #b9b9b9;
 
    @media screen and (min-width: 768px) {
       max-width: 768px;
    }
    @media screen and (min-width: 1680px) {
       max-width: 1680px;
    }
 }
 