
.hero{
   padding-top: 89px;
   background: url('../images/hero/hero_vector_phone.svg') center 0 no-repeat;
}
.hero__name--format{
   max-width: 400px;
}
.hero__name {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 130%;
   letter-spacing: 0.03em;
   color: $primary-color;
   margin-bottom: 8px;
}
.hero__motivation--box{
   max-width: 250px;
}
.hero__motivation {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.08em;
   color: $secondary-color;
   margin-bottom: 40px;
}

.hero__guaranteed {
   font-weight: 700;
   color: $primary-color;
}

.hero__guaranteed--sp {
   font-weight: 700;
   color: $accent-color;
   height: 48px;
   max-width: 100%;
}

.hero__button {
   background-color: $accent-color;
   padding-top: 14px;
   padding-bottom: 14px;
   text-align: center;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin-bottom: 40px;
}

.hero__form {
   font-size: 12px;
   color: $white-color;
   text-transform: uppercase;
   font-family: 'Montserrat';
   font-weight: 700;
   line-height: 15px;
   letter-spacing: 0.08em;
   text-transform: uppercase;
   color: $white-color;
}
.hero__image {
   height: 178px;
   width: 208px;
   margin-bottom: 100px;
   background-image: url('../images/hero/hero_image.png');
   margin-left: auto;
   margin-right: auto;
}

.hero__benefit {
   display: flex;
   max-width: 280px;
   margin-bottom: 24px;
   margin-left: auto;
   margin-right: auto;
   &:last-child {
      margin-bottom: 0;
   }
}

.hero__benefit--image1 {
   height: 63px;
   width: 60px;
   background-image: url('../images/hero/hero_student.svg');
}

.hero__benefit--image2 {
   height: 63px;
   width: 60px;
   background-image: url('../images/hero/hero_mobile.svg');
}

.hero__benefit--image3 {
   height: 63px;
   width: 60px;
   background-image: url('../images/hero/hero_umbrella.svg');
}
.hero__benefit-box {
   display: flex;
   align-items: center;
   max-width: 180px;
   margin-left: 12px;
}
.hero__benefit--name {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.65;
   display: flex;
   letter-spacing: 0.08em;
   color: $primary-color;
}
@media screen and (min-width: 768px) {
   .hero__box {
      display: flex;
   }
      .hero__motivation--box {
         max-width: 250px;
      }
  
   .hero {
      padding-top: 168px;
      background: url('../images/hero/hero_vector_tablet.svg')  center 0 no-repeat;
   }

   .hero__image {
      height: 321px;
      width: 376px;
      margin-bottom: 100px;
      background-image: url('../images/hero/hero_image_middle.png');
      margin-left: auto;
      margin-right: auto;
   }
   .hero__button {
      max-width: 260px;
   }
   .hero__content {
      width: 332px;
      margin-left: 27px;
   }
   .hero__name {
      font-size: 26px;
   }
   .hero__benefits {
      max-width: 688px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
   }
   .hero__benefit-box {
      max-width: 143px;
   }
   .hero__benefit {
      margin-bottom: 0px;
      margin-right: 21px;

      &:last-child {
         margin-right: 0;
      }
   }
}
@media screen and (min-width: 1680px) {
   .hero__image {
      height: 719px;
      width: 842px;
      margin-bottom: 100px;
      background-image: url('../images/hero/hero_image_large.png');
      margin-left: auto;
      margin-right: auto;
   }
   
   .hero {
      padding-top: 150px;
      background-image: url('../images/hero/hero_vector_desctop.svg');
   }
       .hero__name--format {
          max-width: 560px;
       }

   .hero__content {
      width: 560px;
      margin-left: 27px;
   }

   .hero__name {
      font-size: 58px;
   }
      .hero__motivation--box {
         max-width: 500px;
      }
   .hero__motivation {
      font-size: 20px;
      line-height: 1.65;
   }

   .hero__benefits {
      max-width: 1569px;
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
   }

   .hero__benefit-box {
      max-width: 300px;
      margin-left: -12px;
   }

   .hero__benefit {
      max-width: 448px;
      margin: 0;

      &:last-child {
         margin-right: 0;
      }
   }
 
   .hero__guaranteed--sp {
      color: $primary-color;
   }
   .hero__button {
      max-width: 354px;
      padding: 27px 50px;
      text-align: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 40px;
   }
   .hero__form {
      font-size: 14px;
   }
   .hero__benefit--image1 {
      background-size: contain;
      height: 102px;
      width: 99px;
      background-image: url('../images/hero/hero_student.svg');
   }
   .hero__benefit--image2 {
      background-size: contain;
      height: 102px;
      width: 99px;
      background-image: url('../images/hero/hero_mobile.svg');
   }

   .hero__benefit--image3 {
      background-size: contain;
      height: 102px;
      width: 99px;
      background-image: url('../images/hero/hero_umbrella.svg');
   }
   .hero__benefit--name {
      font-size: 20px;
      margin: 0;
      padding: 0;
   }
}
