.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow-y: scroll;

   background-color: rgba(0, 0, 0, 0.4);
   opacity: 1;
   @include transition(opacity);
   @media screen and (max-width: 767px) {
      padding-top: 75px;
   }
}
.backdrop.is-hidden .modal {
   // transform: scale(0.7) translate(-50%, -50%);
   opacity: 0;
}
.modal {
   @include transition(opacity);
   opacity: 1;
   padding: 40px;
   position: absolute;
   @media screen and (max-width: 767px) {
      margin: 0 15px;
      max-width: 480px;
   }
   @media screen and (min-width: 768px) {
      top: 50%;
      left: 50%;
      width: 530px;
      height: 584px;
      transform: translate(-50%, -50%) scale(1);
   }

   background-color: $white-color;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}

.close-button {
   position: absolute;
   top: 8px;
   right: 8px;
   background-color: $white-color;
   @include transition(box-shadow);
}
.close-button__icon {
   width: 40px;
   height: 40px;
   fill: $secondary-color;
   @include transition(fill);
   .close-button:hover &,
   .close-button:focus & {
      fill: $accent-color;
   }
}
.close-button:focus,
.close-button:hover {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.22);
}

.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
}
.modal__heading {
   font-family: 'Montserrat';
   font-style: normal;

   font-weight: 800;
   font-size: 20px;
   line-height: 130%;
   font-size: 20px;
   line-height: calc(23 / 20);
   text-align: center;
   letter-spacing: 0.03em;
   color: $primary-color;
   margin-bottom: 60px;
}

body.modal-open {
   overflow: hidden;
}

// FORM

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.form-field {
   position: relative;
}

.label {
   position: absolute;
   top: -5px;
   left: 0;
   /* width: 270px; */
   height: 26px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: $secondary-color;

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input {
   background-color: transparent;
   margin-bottom: 60px;
   border-bottom: 2px solid $accent-color;
   border-top: none;
   border-left: none;
   border-right: none;
   color: black;
   width: 100%;
}

.input:focus + .label,
input:not(:placeholder-shown) + .label {
   color: $accent-color;
   transform: translateY(-35px);
}
.input:focus {
   border-color: $accent-color;
}

.comment-field {
   margin-bottom: 44px;
}
.textarea {
   width: 100%;
   height: 80px;
   background-color: transparent;
   border-bottom: 2px solid $accent-color;
   border-top: none;
   border-left: none;
   border-right: none;
   color: $accent-color;
   resize: none;
   margin-bottom: 40px;
}
.textarea::placeholder {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   color: $accent-color;
}
.submit-button {
   color: $accent-color;
   background-color: transparent;
   text-align: center;
   border: 2px solid $accent-color;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   height: 50px;
   min-width: 280px;
   padding: 15px auto;
   justify-content: center;
}
