.section-problems__icon {
   display: none;
}

.section-problems {
   padding-top: 0;
   min-height: 545px;
   background-color: #111518;
   margin: auto;
}

.section__title {
   padding-top: 24px;
   padding-bottom: 24px;
   font-style: normal;
   letter-spacing: 0.03em;
   font-family: 'Montserrat';
   font-weight: 800;
   font-size: 24px;
   line-height: 1.29;
   color: #ffffff;
}
.section__title-accent {
   color: #ff6b09;
}

@media screen and (min-width: 768px) {
   .section-problems {
      min-height: 340px;
   }
   .section__title {
      padding-top: 40px;
      padding-bottom: 25px;
   }
   .section-problems {
      padding-bottom: 0;
   }
}
@media screen and (min-width: 1680px) {
   .section-problems {
      min-height: 560px;
   }
   .section__title {
      padding-top: 80px;
      padding-bottom: 0;
      font-size: 46px;
      line-height: 1.3;
   }
   .container-problems {
      position: relative;
      min-height: 560px;
      overflow: hidden;
   }
   .section-problems__icon {
      display: block;
      position: absolute;
      top: 88px;
      right: 0px;
      margin-right: -32px;
      fill: #3d3d3d;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   }
}
.section-problems__item {
   position: relative;

   margin: auto;
   border: 1px;
   padding: 0px 15px;
   box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
   background-color: #ffffff;
   @media screen and (min-width: 320px) {
      width: 280px;
      bottom: 343px;
   }
   @media screen and (min-width: 768px) {
      width: 704px;
      bottom: 173px;
   }
   @media screen and (min-width: 1680px) {
      width: 1648px;
      bottom: 215px;
   }
}
.section-problems__title {
   font-style: normal;
   letter-spacing: 0.03em;
   font-family: 'Montserrat';
   font-weight: 700;

   color: #111518;
}
.grid {
   display: grid;
   justify-content: space-between;
}
.grid > * {
   counter-increment: section;
}
.section-problems__list {
   @media screen and (min-width: 320px) {
      padding-bottom: 16px;
   }

   @media screen and (min-width: 768px) {
      margin-right: 0px;
   }
}

.section-problems__number {
   color: #ff6b09;
   padding-bottom: 5px;
}

.section-problems__number::after {
   counter-increment: none;
   content: '   0' counter(section);
}
section {
   counter-reset: section;
}
.grid {
   @media screen and (min-width: 320px) {
      padding: 20px 12px 24px 32px;
      font-size: 14px;
      line-height: calc(20 / 14);
   }
   @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(216px, 1fr));
      grid-gap: 24px;
      padding: 32px 81px 32px 80px;
      font-size: 14px;
      line-height: calc(24 / 14);
   }
   @media screen and (min-width: 1680px) {
      grid-template-columns: repeat(3, minmax(336px, 1fr));
      grid-gap: 73px;
      padding: 55px 191px 104px 141px;
      font-size: 20px;
      line-height: calc(28 / 20);
   }
}
p {
   margin: 0px;
   padding: 0px;
}
