.section-program__item {
   //    position: relative;

   margin: auto;
   border: 1px;
   padding: 0px 15px;
   box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
   background-color: #ffffff;
   @media screen and (min-width: 320px) {
      width: 280px;
      //   bottom: 343px;
   }
   @media screen and (min-width: 768px) {
      width: 704px;
      //   bottom: 173px;
   }
   @media screen and (min-width: 1680px) {
      width: 1648px;
      //   bottom: 215px;
   }
}
.section-program__title {
   font-style: normal;
   letter-spacing: 0.03em;
   font-family: 'Montserrat';
   font-weight: 700;

   color: #111518;
}
.grid {
   display: grid;
   justify-content: space-between;
}
.grid > * {
   counter-increment: section;
}
.section-program__list {
   @media screen and (min-width: 320px) {
      padding-bottom: 16px;
   }

   @media screen and (min-width: 768px) {
      margin-right: 0px;
   }
}

.section-program__number {
   color: #ff6b09;
   padding-bottom: 5px;
}

.section-program__number::after {
   counter-increment: none;
   content: '   0' counter(section);
}
section {
   counter-reset: section;
}
.grid {
   @media screen and (min-width: 320px) {
      padding: 20px 12px 24px 32px;
      font-size: 14px;
      line-height: calc(20 / 14);
   }
   @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(216px, 1fr));
      grid-gap: 24px;
      padding: 32px 81px 32px 80px;
      font-size: 14px;
      line-height: calc(24 / 14);
   }
   @media screen and (min-width: 1680px) {
      grid-template-columns: repeat(3, minmax(336px, 1fr));
      grid-gap: 73px;
      padding: 55px 191px 104px 141px;
      font-size: 20px;
      line-height: calc(28 / 20);
   }
}
p {
   margin: 0px;
   padding: 0px;
}
