//0px-480px
@media screen and (max-width: 479px), (min-width: 480px) {
   .reviews {
      padding-top: 40px;
      padding-bottom: 40px;
   }
   .our-reviews {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 20px;
      line-height: calc(26 / 20);
      text-align: center;
      letter-spacing: 0.03em;
      color: #111518;
      margin: auto;
      max-width: 280px;
      margin-bottom: 40px;
      padding: 0 20px;
   }

   .arrow-left {
      display: none;
   }
   .arrow-right {
      display: none;
   }
   .user-hub_foto-link {
      text-align: center;
      margin-bottom: 30px;
   }
   .user-hub_img {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
   }
   .user-hub_img__foto {
      width: 90px;
   }
   .about-user {
      margin-bottom: 40px;
   }
   .about-user_name {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 14px;
      line-height: calc(17 / 14);
      text-align: center;
      letter-spacing: 0.08em;
      color: #ff6b09;
      margin-bottom: 16px;
   }
   .about-user_education {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: calc(15 / 12);
      text-align: center;
      letter-spacing: 0.08em;
      color: #b9b9b9;
      padding: 0 25px;
      margin-bottom: 16px;
   }

   .about-user_article__normal-color {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: calc(20 / 12);
      text-align: center;
      color: #3d3d3d;
      padding: 0 25px;
   }
   .about-user_article__orange-color {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: calc(20 / 12);
      text-align: center;
      color: #ff6b09;
      text-decoration: underline;
   }
   .user-feedback-slider {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .user-img-slider {
      max-width: 54px;
      max-height: 54px;
      margin: 0 6px;
   }
   .img-tab-desk {
      display: none;
   }
   .arrow-feedback-left {
      margin-right: 16px;
   }
   .arrow-feedback-right {
      margin-left: 16px;
   }
   //480-767px
   @media screen and (min-width: 480px) {
      .about-user {
         width: 480px;
         margin: auto;
         margin-bottom: 40px;
      }
   }
}

//768px
@media screen and (min-width: 768px) {
   .reviews {
      padding-top: 40px;
      padding-bottom: 40px;
   }
   .our-reviews {
      max-width: 688px;
      font-size: 26px;
      line-height: calc(34 / 26);
   }
   .user-hub {
      display: flex;
      box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
      padding: 40px 0;
      margin: auto;
      margin-bottom: 20px;
   }

   .arrow-left {
      display: block;
      margin: auto;
      margin-right: 19px;
   }
   .arrow-right {
      display: block;
      margin: auto;
      margin-left: 19px;
   }
   .user-hub_foto-link {
      margin-bottom: 0px;
      margin-right: 44px;
   }
   .user-hub_img {
      margin-bottom: 0px;
   }
   .user-hub_img__foto {
      width: 150px;
      margin-bottom: 27px;
   }
   .about-user {
      margin-bottom: 0px;
      margin: 0;
   }
   .about-user_name {
      font-size: 20px;
      line-height: calc(24 / 20);
      text-align: left;
   }
   .about-user_education {
      text-align: left;
      padding: 0;
   }

   .about-user_article__normal-color {
      text-align: left;
      padding: 0;
   }
   .about-user_article__orange-color {
      text-align: left;
   }
   .arrow-feedback-left {
      display: none;
   }
   .arrow-feedback-right {
      display: none;
   }
   .user-img-slider {
      margin: 0 16px;
   }
   .img-tab-desk {
      display: block;
   }
}
//1680px
@media screen and (min-width: 1680px) {
   .reviews {
      padding-top: 80px;
      padding-bottom: 80px;
   }
   .our-reviews {
      max-width: 866px;
      font-size: 46px;
      line-height: calc(60 / 46);
   }
   .user-hub {
      width: 1088px;
      padding: 60px 80px;
      margin: auto;
      margin-bottom: 40px;
   }
   .about-user {
      width: 706px;
   }
   .user-hub_img__foto {
      margin-bottom: 15px;
   }

   .about-user_name {
      font-size: 30px;
      line-height: calc(37 / 30);
   }
   .about-user_education {
      font-size: 14px;
      line-height: calc(17 / 14);
   }
   .about-user_article__normal-color {
      font-size: 18px;
      line-height: calc(28 / 18);
   }
   .about-user_article__orange-color {
      font-size: 18px;
      line-height: calc(28 / 18);
   }
   .arrow-left {
      position: absolute;
      margin-top: 120px;
      margin-left: -120px;
   }
   .arrow-right {
      position: absolute;
      margin-top: 120px;
      margin-left: 1025px;
   }
}
